@import "./variables.css";


.why-section > .container {
  display: block;
}

/* MAIN SECTION */
.why-section {
  padding: 70px 0;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.7s ease;
}

/* When visible on scroll */
.why-section.animate-section {
  opacity: 1;
  transform: translateY(0);
}

/* SECTION HEADING */
.why-heading {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: var(--text-dark);
}

/* GRID LAYOUT */
.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

/* EACH COLUMN */
.why-box {
  text-align: center;
  padding: 20px;

  opacity: 0;
  transform: translateY(25px);
  transition: 0.7s ease;
}

.why-section.animate-section .why-box {
  opacity: 1;
  transform: translateY(0);
}

/* STAGGER DELAYS */
.delay-1 { transition-delay: 0.15s; }
.delay-2 { transition-delay: 0.30s; }
.delay-3 { transition-delay: 0.45s; }

/* IMAGE */
.why-img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 8px;
}

/* HEADINGS */
.why-box h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

/* TEXT */
.why-box p {
  font-size: 1.05rem;
  color: var(--text-medium);
  line-height: 1.5;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .why-grid {
    grid-template-columns: 1fr;
  }

  .why-img {
    width: 200px;
    height: 200px;
  }
}
